<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styledoc.css') }}">
    <link rel="icon" href="{{url_for('static', filename="img/favicon.png")}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Documento {{ documento_id }}</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Detalhes do Documento {{ documento_id }}</h1>
        <ul class="details-list">
            <li><span>Tipo:</span> {{ dados.tipo.value }}</li>
            <li><span>Emissores:</span> {{ dados.emissores.value }}</li>
            <li><span>Notas:</span> {{ dados.notas.value }}</li>
            <li><span>Data:</span> {{ dados.data.value }}</li>
            <li><span>Fonte:</span> {{ dados.fonte.value }}</li>
            <li><span>Número:</span> {{ dados.numero.value }}</li>
            <li><span>Número DR:</span> {{ dados.numeroDR.value }}</li>
            <li><span>Séries:</span> {{ dados.series.value }}</li>
            {% if dados.pdflink.value %}
                <li><span>PDF Link:</span> <a href="{{ dados.pdflink.value }}" target="_blank">Acessar PDF</a></li>
            {% endif %}
        </ul>
        <div class="pdf-container">
            <h1>PDF do documento</h1>
            {% if dados.pdflink.value %}
                <iframe src="{{ dados.pdflink.value }}"></iframe>
            {% else %}
                <p>Não há um PDF disponível para visualização.</p>
            {% endif %}
        </div>
        
    </div>
</body>
</html>
