

    <!-- Cabeçalho -->
    <div class="header">
        <!-- Logotipo do Diário da República -->
        <a href="/"><img class="logo" src="{{ url_for('static', filename='img/dre.png') }}" alt="Diário da República"></a>
        <!-- Links de navegação -->
        <div class="hearder-referencias">
            <a href="/" class="button">Página Inicial</a>
            <a href="/documentos" class="button">Documentos</a>
            <a href="/autores" class="button">Autores</a>
            <a href="/tipos" class="button">Tipos</a>
        </div>
    </div>


